.col-md-4 {
  margin: 0 auto;
}

.border {
  max-width: 151px;
  border: 1px solid black;
  background-color: #1890FF;
  color: #ffffff;
}

.col-md-4 {
  display: flex;
}

.author-photo-container {
  margin-right: 20px;
}

@media screen and (max-width: 460px) {
  .col-md-4 {
    display: flex;
    flex-direction: column;
  }
}