.author-wrapper {
  display: flex;
  padding-bottom: 25px;
  justify-content: center;
}

.author-wrapper h2 {
  text-align: center;
}

.button-wrapper {
  max-width: 151px;
}

.author-photo-container {
  margin-right: 20px;
  max-width: 400px;
}

.jumbotron {
  margin-top: 50px;
}

@media screen and (max-width: 555px) {
  .col-md-4 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 435px) {
  .author-photo-container {
    max-width: 280px;
  }
}

@media screen and (max-width: 879px) and (min-width: 767px){
  .col-md-4 {
    display: flex;
    flex-direction: column;
  }
}
