.main-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5em;
  align-items: center;
  margin: 0 10px 15px 10px;
}

img {
  max-width: 400px;
  margin-bottom: 15px;
}

.info {
  text-align: justify;
}

h2 {
  text-align: initial;
}

.years {
  font-style: italic;
}

.works {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}

.worksH2 {
  text-align: center;
  padding: 10px 0;
}

.video-wrapper {
  margin: 10px;
}

.back {
  margin: 20px auto;
  max-width: 1200px;
  justify-content: center;
  display: flex;
}

@media (max-width: 900px) {
  img {
    max-width: 300px;
  }

  .main {
    align-items: initial;
  }
}

@media (max-width: 700px) {
  .main {
    display: block;
  }
}