.gallery {
  max-width: 1204px;
  margin: 25px auto;

  overflow: hidden;
}

.image {
  box-sizing: border-box;
  float: left;
  margin: 2px;
  padding-bottom: 16%;
  position: relative;
  width: calc(25% - 4px);

  background-color: #eee;
  overflow: hidden;
}

.image:hover {
  opacity: 0.9;
}