.app {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin: 0;
  top: 0;
  z-index: 10;

  background: #007bff;
}

.wrapper-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.awesomeM {
  font-size: 2rem;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}
.animation-appear {
  opacity: 0;
}

.animation-appear.animation-appear-active {
  opacity: 1;
  transition: opacity .9s ease-in;
}

.logo {
  padding: 20px;

  font-size: 1.5rem;
  color: white;
}
